<!doctype html>
<html>

<head>
    <title>Giáo viên</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">

            <h1><span class="fa fa-lock"></span> Node Google Drive Upload</h1>

            <% if(isLogined){ %>
            <h3>Người dùng hiện tại: <%= currentUser %></h3>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <% } else{ %>
            <p>Login or Register with:</p>

            <a href="<%=url%>" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            <% } %>

        </div>
        <div class="col-sm-12 col-md-6">
            <div class="well">
              <h3 class="text-danger">
                <span class="fa fa-google-plus"></span> Thay đổi ID thư mục của cả lớp (nếu thay tải khoản)
              </h3>
  
              <% if (rootFolderId) { %>
              <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"
                  >×</a
                >
                <strong><%= rootFolderId %></strong> Là id của thư mục cả lớp.
              </div>
              <%}%>
              <form action="/rootFolderId" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                  <input
                    class="form-control"
                    name="rootFolderId"
                    required
                    placeholder="ID thư mục của cả lớp"
                    id=""
                  />
                 
                </div>
                <div class="form-group">
                  <button class="btn btn-block btn-danger">
                    Lưu
                  </button>
                </div>
              </form>
            </div>
          </div>


    </div>
</body>

</html>